footer {
    width: 100%;
}

.conteudo-footer {
    width: 80%;
    margin: 0 auto;
    padding: 15px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-neutra-0);
}

.icons-footer {
    display: flex;
    gap: 35px;
    margin: 10px 0px 0px 1px;
}

.icons-footer img {
    width: 38px;
}

.copy {
    font-size: 10px;
}

@media (min-width: 481px) and (max-width: 768px) {
    .conteudo-footer {
        flex-direction: column-reverse;
        gap: 3px;
    }
}

@media (max-width: 480px) {
    .conteudo-footer {
        flex-direction: column-reverse;
        gap: 3px;
    }
}