#home {
color: white;
}

.conteudo-home {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 74.36px);
}

.txt-home {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destaque {
    width: 40%;
    padding: 8px;
    margin-bottom: 15px;
    
    display: flex;
    justify-content: center;
    
    border-radius: 10px;
    background-color: var(--color-primary-5);
    color: var(--color-primary-1);
    font-size: .8rem;

}

h1 {
    font-size: 3.8rem;
    line-height: 75px;
}

.txt-home p {
    font-size: .8rem;
    line-height: 22px;
}

.txt-home p:nth-of-type(2) {
    font-size: .97rem;
    padding: 10px 0 15px;
}

.txt-home-dados {
    display: flex;
    gap: 30px;
}

.txt-home-clientes, .txt-home-projetos {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.txt-home-clientes span, .txt-home-projetos span {
    font-size: 1.7rem;
    display: flex;
    align-items: start;
}

.txt-home-clientes p, .txt-home-projetos p {
    line-height: 15px;
    font-size: .95rem;
    display: flex;
    align-items: center;
}

.icons-home {
    display: flex;
    gap: 15px;
    margin: 10px 0px 0px 1px;
}

.icons-home img {
    width: 40px;
}

.img-home {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.img-home img {
    width: 82%;
    height: 70%;
    border-radius: 50px;
}

@media (min-width: 769px) and (max-width: 1024px) {    
    .txt-home {
        width: 60%;
    }
    
    .destaque {
        width: 60%;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    .txt-home p:nth-of-type(2) {
        font-size: .96rem;
        padding: 0px 0 8px;
        margin-bottom: 20px;
    }

    .txt-home-projetos p, .txt-home-clientes p {
        font-size: .95rem;
        text-align: left;
    }

    h1 {
        font-size: 3.7rem;
        line-height: 65px;
        margin-bottom: 20px;
    }

    
    .img-home {
        width: 40%;
    }
    
    .img-home img {
        width: 100%;
        height: auto;
        border-radius: 100%
    }

    .icons-home img {
        width: 45px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {    
    .txt-home {
        width: 100%;
        justify-content: space-evenly
    }

    .txt-home p:nth-of-type(2) {
        font-size: 1rem;
    }

    .destaque {
        width: 60%;
        font-size: 2rem;
    }

    .destaque p {
        font-size: 2rem;
    }

    h1 {
        font-size: 3.5rem;
        line-height: 65px;
    }

    .txt-home p:nth-of-type(2) {
        font-size: 1rem;
        margin: -30px 0px 0px 0px;
    }

    .txt-home-dados {
        margin-top: -30px;
    }
    
    .img-home {
        display: none;
    }

    .icons-home {
        margin: -10px 0px 0px 1px;
    }

    .txt-home-projetos p, .txt-home-clientes p {
        font-size: .95rem;
        text-align: left;
    }

    .icons-home img {
        width: 40px;
    }
}

@media (max-width: 480px) {
    .txt-home {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: space-evenly
    }

    .destaque {
        width: 80%;
    }
    
    h1 {
        font-size: 2.8rem;
        line-height: 53px;
    }

    .txt-home p:nth-of-type(2) {
        font-size: .94rem;
        padding: 0px 0 8px;
    }

    .txt-home-projetos p, .txt-home-clientes p {
        font-size: .95rem;
        text-align: left;
    }

    .img-home {
        display: none;
    }

    .icons-home {
        margin: -10px 0px 0px 1px;
    }
}

