#projetos {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

#projetos span {
    padding-top: 50px;
    color:  var(--color-neutra-0);
    font-size: .7155rem;
    letter-spacing: 3px;
}

#projetos h2 {
    color: var(--color-neutra-0);
    margin-bottom: 20px;
    font-size: 2rem;
}

#boxes_projetos {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-projetos {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-primary-6);
    border-radius: 10px;
    background-color: var(--color-primary-2);;    

}

.box-projetos img {
    width: 100%; 
    border-radius: 10px 10px 0 0;
    padding: 3px;
}

.tecno {
    display: flex;
    padding: 5px;
}

.tecno p{
    width: 20%;
    text-align: center;
    padding: 1px 2px;
    margin-right: 5px;
    color: var(--color-primary-1);
    background-color: var(--color-primary-6);
    border-radius: 10px;
}

.txt-projetos {
    color: var(--color-neutra-0);
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 13px;
}

.txt-projetos h4 {
    font-size: 1.2rem;
}

.txt-projetos p {
    font-size: .95rem;
    height: auto;
}

.txt-projetos a {
    font-size: .7rem;
    text-decoration: none;
    color: var(--color-neutra-0);
    transition: color .5s ease;
}

.txt-projetos a:hover {
    color: var(--color-primary-6);
}

.link-opcoes-projetos {
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.link-opcoes-projetos a {
    width: 50%;
    padding: 6px 2px;
    margin-top: 20px;

    display: flex;
    justify-content: center;

    border-radius: 10px;
    background-color: var(--color-neutra-0);
    color: var(--color-primary-1);
    font-weight: 600;
    font-size: .97rem;
    transition: background-color .5s ease;
}

.link-opcoes-projetos a:hover {
    background-color: var(--color-primary-6);
    color: var(--color-primary-1);
}


@media (min-width: 769px) and (max-width: 1024px) {    
    .link-opcoes-projetos a {
        font-size: .89rem;
    }
}

@media (min-width: 481px) and (max-width: 768px) {    
    #projetos {
        align-items: center;
    }
    .box-projetos {
        width: 48%;
        flex: 1 1 auto;
    }

    .link-opcoes-projetos a {
       
        font-size: .89rem;
    }
}

@media (max-width: 480px) {
    #projetos {
        align-items: center;
    }

    .box-projetos {
        width: 90%;
    }
}