#depoimentos {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    color:  var(--color-neutra-0);
}

#depoimentos span {
    padding-top: 50px;
    font-size: .7155rem;
    letter-spacing: 3px;
}

#depoimentos h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

#boxes_depoimentos {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
}

.box-depoimentos {
    width: 30%;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 0px 30px var(--color-primary-2);
    transition: background-color .5s ease;
}

.box-depoimentos:hover {
    background-color: var(--color-neutra-0);
    color: var(--color-primary-1);
}

cite {
    font-size: .89rem;
}

.rate-depoimentos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.rate-star i {
    color: yellow;
}

.banner-depoimentos {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 50px 10px;
    background-color: var(--color-neutra-0);
    border-radius: 15px;
    padding: 20px;
}

.txt-banner-depoimentos {
    color: var(--color-primary-1);
}

.txt-banner-depoimentos h5 {
    font-size: 2rem;
    margin-bottom: 8px;
}

.txt-banner-depoimentos p {
    width: 80%;
    font-size: .97rem;
}

.banner-depoimentos a {
    height: auto;
    width: 30%;
    text-align: center;
    text-decoration: none;
}

.btn-banner {
    width: 20%;
    background-color: var(--color-primary-4);
    color: var(--color-primary-1);
    padding: 10px 0;
    border-radius: 13px;
    transition: background-color 1s ease;
}

.btn-banner:hover {
    background-color: var(--color-primary-1);
    color: var(--color-neutra-0);
}

@media (min-width: 769px) and (max-width: 1024px) {    
    

    .banner-depoimentos a {
        width: 50%;
        margin-top: 20px;
    }

    .box-depoimentos {
        flex: 1 1 auto;
    }

    .txt-banner-depoimentos p {
        width: 95%;
    }

}

@media (min-width: 481px) and (max-width: 768px) {    
    #depoimentos {
        align-items: center;
        text-align: center;
    }

    #boxes_depoimentos {
        flex-direction: column;
    }

    .box-depoimentos {
        width: 100%;
    }

    .banner-depoimentos {
        flex-direction: column;
    }

    .txt-banner-depoimentos p {
        width: 100%;
        font-size: .97rem;
    }

    .banner-depoimentos a {
        width: 60%;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    #depoimentos {
        align-items: center;
        text-align: center;
    }

    #depoimentos h2 {
        text-align: center;
    }

    #boxes_depoimentos {
        flex-direction: column;
    }

    .box-depoimentos {
        width: 100%;
    }

    .box-depoimentos cite {
        font-size: .89rem;
    }

    .banner-depoimentos {
        flex-direction: column;
    }

    .txt-banner-depoimentos p {
        width: 100%;
        font-size: .97rem;
    }

    .banner-depoimentos a {
        width: 95%;
        margin-top: 20px;
    }

    .txt-banner-depoimentos h5 {
        font-size: 1.5rem;
        line-height: 30px;
        margin-bottom: 10px;
    }
}